.bgPage {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    padding-top: 100px;
    gap: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-image: url('/background/backgroundOnPC.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (min-width: 768px) {
    .bgPage {
        gap: 150px;
    }
}

